<div class="alert jumbotron">
  <div class="container">
    <h1 class="display-15">models\Developer</h1>
    <p class="lead">Data administration</p>
  </div>
</div>
<LinkTo class="btn btn-warning" @route="developers.new"><i class="fa fa-plus"></i> Add a new models\Developer...</LinkTo>
<br><br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Identity</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each this.model.developers as |developer|}}
    <tr>
      <th scope="row">{{developer.name}}</th>
      <td class="text-right">
          <button type="button" class="btn btn-outline-secondary btn-circle"><i class="fa fa-pencil-square-o"></i></button>
          <button type="button" class="btn btn-outline-danger btn-circle"><i class="fa fa-times"></i></button>
      </td>
    </tr>
    {{/each}}
    {{#if this.model.developers}}
    {{else}}
        <tr><th scope="row">Developer list is empty!!!</th></tr>
    {{/if}}
  </tbody>
</table>