<div class="alert jumbotron">
  <div class="container">
    <h1 class="display-15">models\Developer</h1>
    <p class="lead">New object creation</p>
  </div>
</div>
<div class="form-group">
    <label for="inputName">Identity</label>
    {{input class="form-control" id="inputName" value=developerName}}
</div>
<LinkTo type="button" onclick={{route-action 'createNewDeveloper' this}} @route="developers" class="btn btn-success"><i class="fa fa-check-circle"></i> Validate</LinkTo>
<LinkTo type="button" @route="developers" class="btn btn-secondary"><i class="fa fa-times-circle"></i> Cancel</LinkTo>
{{outlet}}