<div class="alert jumbotron">
  <div class="container">
    <h1 class="display-15">models\Project</h1>
    <p class="lead">New object creation</p>
  </div>
</div>
<form>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Name...">
  </div>
  <div class="form-group">
    <label for="descriptif">Descriptif</label>
    <textarea class="form-control" id="descriptif" rows="3"></textarea>
  </div>
  <div class="row">
    <div class="col">
        <label for="startdate">StartDate</label>
        <input type="text" id="startdate" class="form-control" >
    </div>
    <div class="col">
        <label for="duedate">DueDate</label>
        <input type="text" id="duedate" class="form-control" >
    </div>
  </div>
  <div class="form-group">
    <label for="owner">Owner</label>
    <select class="form-control" id="owner">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
</form>
<br>
<LinkTo type="button" @route="projects" class="btn btn-success"><i class="fa fa-check-circle"></i> Validate</LinkTo>
<LinkTo type="button" @route="projects" class="btn btn-secondary"><i class="fa fa-times-circle"></i> Cancel</LinkTo>
{{outlet}}