<div class="container">
  <br>
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
      <ul class="navbar-nav">
          <li class="nav-item">
            <LinkTo class="nav-link" @route="index">Home</LinkTo>
          </li>
          <li class="nav-item">
            <LinkTo class="nav-link" @route="projects">Projects</LinkTo>
          </li>
          <li class="nav-item">
            <LinkTo class="nav-link" @route="developers">Developers</LinkTo>
          </li>
          <li class="nav-item">
            <LinkTo class="nav-link" @route="stories">Stories</LinkTo>
          </li>
          <li class="nav-item">
            <LinkTo class="nav-link" @route="tags">Tags</LinkTo>
          </li>
          <li class="nav-item">
            <LinkTo class="nav-link" @route="steps">Steps</LinkTo>
          </li>
      </ul>
    </nav>
  <br>
{{outlet}}
</div>