<form class="img-rounded ng-pristine ng-valid ng-scope" id="choixMultiples">
    <div ng-show="step==1" class="">
        <h1>Sélectionnez vos produits</h1>
        <div class="form-group">
            <div class="inline-block">
                <label>Produits disponibles : <select title="Double-cliquez pour ajouter" class="form-control ng-pristine ng-untouched ng-valid" ng-model="selectedDispoItems" ng-dblclick="selectItem()" ng-options="item.title for item in dispoItems" size="10" multiple="multiple"><option label="What Every Developer Should Know About Cryptocurrency" value="object:88">What Every Developer Should Know About Cryptocurrency</option><option label="15 Interesting JavaScript and CSS Libraries for January 2018" value="object:89">15 Interesting JavaScript and CSS Libraries for January 2018</option><option label="The Best JavaScript and CSS Libraries for 2017" value="object:90">The Best JavaScript and CSS Libraries for 2017</option><option label="Getting Started With GraphQL" value="object:91">Getting Started With GraphQL</option><option label="9 Free Icon Packs For Web Developers" value="object:92">9 Free Icon Packs For Web Developers</option><option label="10 Free Programming Books You Should Read in 2018" value="object:93">10 Free Programming Books You Should Read in 2018</option><option label="The Languages and Frameworks You Should Learn in 2017" value="object:94">The Languages and Frameworks You Should Learn in 2017</option></select>
                </label>
                <div>
                    <ng-pluralize count="includedItems.length" when="{0:'Aucun produit à inclure',
                    1:'1 produit inclus',
                    'other':'{} produits inclus'}">Aucun produit à inclure</ng-pluralize>
                </div>
            </div>
            <div class="inline-block">
                <div title="Ajouter" class="btn btn-primary list-btn" ng-click="addToIncluded()" ng-disabled="selectedDispoItems.length<1" disabled="disabled"><span aria-hidden="true"><i class="fa fa-step-forward"></i></span></div>
                <div title="Ajouter tous" class="btn btn-primary list-btn" ng-click="addAllToIncluded()" ng-disabled="dispoItems.length<1"><span aria-hidden="true"><i class="fa fa-fast-forward"></i></span></div>
                <div title="Retirer" class="btn btn-primary list-btn" ng-click="removeFromIncluded()" ng-disabled="selectedIncludedItems.length<1" disabled="disabled"><span aria-hidden="true"><i class="fa fa-step-backward"></i></span></div> 
                <div title="Retirer tous" class="btn btn-primary list-btn" ng-click="removeAllFromIncluded()" ng-disabled="includedItems.length<1" disabled="disabled"><span aria-hidden="true"><i class="fa fa-fast-backward"></i></span></div>
            </div>
            <div class="inline-block">
                <label>Produits à inclure : <select title="Double-cliquez pour ajouter" class="form-control ng-pristine ng-untouched ng-valid" ng-model="selectedIncludedItems" ng-dblclick="deselectItem()" ng-options="item.title for item in includedItems" size="10" multiple="multiple"></select>
                </label> 
            </div>
        </div>
        <div>
            <div class="btn btn-primary" style="width:98%;text-align: right" ng-click="step=2" ng-disabled="includedItems.length<1" disabled="disabled">
                <span>Etape suivante</span><span aria-hidden="true"> <i class="fa fa-arrow-circle-right"></i></span>
            </div>
        </div>
    </div>
</form>
{{outlet}}